<template>
  <v-flex sm8 md6 lg4>
    <v-card>
      <v-toolbar dark color="primary" flat src="img/westcasino-logo-143x60-01.svg">
        <v-toolbar-title>
          Login
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <login-form></login-form>
      </v-card-text>
    </v-card>

    <div class="text-center mt-4">
      <router-link :to="{ name: 'register' }">Register</router-link>
    </div>
  </v-flex>
</template>

<script>
import LoginForm from './LoginForm'

export default {
  components: {
    LoginForm
  },

  methods: {

  }
}
</script>
