<template>
  <v-form ref="form" @submit.prevent="submit" v-model="valid" lazy-validation>
    <v-text-field
      v-model="form.email"
      label="Email"
      type="email"
      :disabled="loading"
      prepend-icon="person"
      v-validate=rules.email
      :error-messages="errors.collect('email')"
      data-vv-name="email"
    ></v-text-field>

    <v-text-field
      v-model="form.password"
      label="Password"
      :append-icon="passwordHidden ? 'visibility_off' : 'visibility'"
      @click:append="() => (passwordHidden = !passwordHidden)"
      :type="passwordHidden ? 'password' : 'text'"
      :disabled="loading"
      prepend-icon="lock"
      v-validate="rules.password"
      :error-messages="errors.collect('password')"
      data-vv-name="password"
    ></v-text-field>

    <v-layout class="mt-4 mx-0">
      <v-btn
        block
        type="submit"
        :loading="loading"
        :disabled="loading || !valid"
        color="primary"
      >Login
      </v-btn>
    </v-layout>
  </v-form>
</template>

<script>
    export default {
        data: () => ({
            passwordHidden: true,
            loading: false,
            valid: true,

            form: {
                email: null,
                password: null
            },

            rules: {
                email: {required: true, email: true},
                password: {required: true, min: 6}
            }
        }),

        methods: {
            async submit() {
                this.$validator.validateAll().then(async () => {
                    this.loading = true;
                    let loginResp = await this.$store.dispatch('auth/login', this.form)
                    this.loading = false;
                    if(loginResp){

                        this.$toast.success("Welcome back!")
                        this.$router.push({ name: 'home' })
                    }
                }).catch(() => {
                    this.$toast.success("There was an error!")
                });


            }
        }
    };
</script>
