<template>
  <div class="fill-height">
    <top-menu></top-menu>

    <v-content>
      <v-container fill-height>
        <v-row justify="center" align="center">
          <v-col cols="12" sm="6">
            <transition name="fade" mode="out-in">
              <router-view></router-view>
            </transition>
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <app-footer></app-footer>
  </div>
</template>

<script>
    import TopMenu from './shared/TopMenu'
    import AppFooter from './shared/AppFooter'

    export default {
        data: () => ({}),

        components: {
            TopMenu,
            AppFooter
        },
    }
</script>
