<template>
  <v-content>
    <v-container fill-height fluid align-center justify-center>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </v-container>
  </v-content>
</template>

<script>
export default {}
</script>
