<template>
  <v-footer
    dark
    padless
    absolute
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-text class="py-2 white--text text-center">
        {{ new Date().getFullYear() }} — <strong>WestCasino</strong>
      </v-card-text>
    </v-card>
  </v-footer></template>

<script>
export default {}
</script>
