<template>
  <v-app-bar dark :clipped-left="$vuetify.breakpoint.mdAndUp" fixed app color="primary">
    <v-toolbar-title class="white--text">
      <router-link to="home">
        <v-img
          src="img/westcasino-logo-143x60-01.svg"
          alt="westcasino logo"
          max-width="200"
          class="filter-white"
        />
        </router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn @click="logout" color="secondary" text>
      <v-icon>logout</v-icon>Logout
    </v-btn>
  </v-app-bar>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data: () => ({}),

        computed: mapGetters({
            auth: 'auth/user'
        }),

        methods: {
            async logout() {
                await this.$store.dispatch('auth/logout')
                this.$toast.info('You are logged out.')
                this.$router.push({name: 'login'})
            },
        }
    }
</script>

<style scoped>
  .filter-white{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(286deg) brightness(112%) contrast(101%);
  }

  .v-application .primary{
    background: linear-gradient(90deg,#659bff 0,#6a79fa 44%,#6c64f8);
  }
</style>
