<template>
  <div>
    <h2 class="mb-4 primary--text headline">Your Profile</h2>

    <v-card>
      <v-card-text>
        <v-text-field
          label="Name"
          v-model="user.firstName"
          filled
          :readonly="isEditing"
          hide-details
          class="mb-4"
        ></v-text-field>
        <v-text-field
          label="Name"
          v-model="user.lastName"
          filled
          :readonly="isEditing"
          hide-details
          class="mb-4"
        ></v-text-field>

        <v-text-field
          label="Email"
          v-model="user.email"
          filled
          :readonly="isEditing"
          hide-details
        ></v-text-field>

        <v-layout row class="mt-4 mx-0">
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            class="ml-4"
            to="edit"
          >
            Edit profile
          </v-btn>
        </v-layout>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data: () => ({
            user: {
                firstName: null,
                lastName: null,
                email: null,
            },
            isEditing: false
        }),

        computed: mapGetters({
            auth: 'auth/user'
        }),

        mounted() {
            this.user = Object.assign(this.user, this.auth)
        }
    }
</script>
