<template>
  <v-form
    ref="form"
    @submit.prevent="submit"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      label="First name"
      v-model="form.firstName"
      :disabled="loading"
      v-validate="rules.firstName"
      :error-messages="errors.collect('firstName')"
      data-vv-name="firstName"
    ></v-text-field>

    <v-text-field
      label="Last name"
      v-model="form.lastName"
      :disabled="loading"
      v-validate="rules.lastName"
      :error-messages="errors.collect('lastName')"
      data-vv-name="lastName"
    ></v-text-field>

    <v-text-field
      label="Email"
      v-model="form.email"
      type="email"
      :disabled="loading"
      v-validate="rules.email"
      :error-messages="errors.collect('email')"
      data-vv-name="email"
    ></v-text-field>

    <v-text-field
      ref="password"
      label="Password"
      v-model="form.password"
      :append-icon="passwordHidden ? 'visibility_off' : 'visibility'"
      @click:append="() => (passwordHidden = !passwordHidden)"
      :type="passwordHidden ? 'password' : 'text'"
      :disabled="loading"
      hint="At least 6 characters"
      v-validate="rules.password"
      :error-messages="errors.collect('password')"
      data-vv-name="password"
    ></v-text-field>

    <v-text-field
      label="Password Confirmation"
      v-model="form.password_confirmation"
      :type="passwordHidden ? 'password' : 'text'"
      :disabled="loading"
      v-validate="rules.password_confirmation"
      :error-messages="errors.collect('password_confirmation')"
      data-vv-name="password_confirmation"
    ></v-text-field>

    <v-layout row class="mt-4 mx-0">
      <v-spacer></v-spacer>

      <v-btn
        text
        :disabled="loading"
        :to="{ name: 'login' }"
        color="grey darken-2"
        exact
      >
        Back to login
      </v-btn>

      <v-btn
        type="submit"
        :loading="loading"
        :disabled="loading || !valid"
        color="primary"
        class="ml-4"
      >
        Register
      </v-btn>
    </v-layout>
  </v-form>
</template>

<script>
    import axios from 'axios'

    export default {
        data: () => ({
            passwordHidden: true,
            loading: false,
            valid: true,

            form: {
                firstName: null,
                lastName: null,
                email: null,
                password: null,
                password_confirmation: null
            },

            rules: {
                firstName: {required: true},
                lastName: {required: true},
                email: {required: true, email: true},
                password: {required: true, min: 6},
                password_confirmation: {required: true, confirmed: 'password'}
            }
        }),

        methods: {
            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true;
                    return true;
                }
            },

            async submit() {
                let registerURL = $api + 'register';
                this.$validator.validateAll().then(async () => {
                    await axios.post(registerURL, this.form)
                        .then(res => {
                            this.$toast.success('You have been successfully registered!')
                            this.$emit('success', res.data)
                        })
                        .catch(err => {
                            console.log(err);
                        })
                        .then(() => {
                            this.loading = false
                        })
                }).catch(() => {
                    this.$toast.success("There was an error!")
                });
            }
        },
    }
</script>
